<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://cdn.pixabay.com/photo/2018/01/01/01/57/woman-3053492_960_720.jpg);">
  <div class="container">
    <h1>Title <strong>title</strong> title <strong>title</strong>!</h1>
    <p>Sub-title.</p>
    <a class="btn btn-flat" href="#">Rejoignez-nous !</a>
  </div>
</div>

