<div class="container my-5">
  <h2>Nos sports</h2>
  <hr>
</div>
<div class="container my-5">
  <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://cdn.pixabay.com/photo/2015/03/01/22/27/relay-race-655353_960_720.jpg');">
    <div class="card-category">Course</div>
    <div class="card-description">
      <h2>De la course à pied</h2>
      <p>Description</p>
    </div>
    <a class="card-link" href="#" ></a>
  </div>
  <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://cdn.pixabay.com/photo/2016/11/22/21/43/fun-1850709_960_720.jpg');">
    <div class="card-category">Natation</div>
    <div class="card-description">
      <h2>De la natation</h2>
      <p>Description</p>
    </div>
    <a class="card-link" href="#" ></a>
  </div>
  <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://cdn.pixabay.com/photo/2018/04/05/17/21/kettlebell-3293475_960_720.jpg');">
    <div class="card-category">Fitness</div>
    <div class="card-description">
      <h2>Du yoga</h2>
      <p>Description</p>
    </div>
    <a class="card-link" href="#" ></a>
  </div>

</div>
