<div class="container my-5">
  <h2>Nos tarifs</h2>
  <hr>
</div>
<div class="conainer my-5 flex">
  <div id="pricing">
    <div class="price_card alpha">
      <div class="header">
        <span class="price">$10</span>
        <span class="name">Alpha Pack</span>
      </div>
      <ul class="features">
        <li>Complete documentation</li>
        <li>Working materials in PSD and Sketch format</li>
      </ul>
      <a class="btn btn-flat" data-toggle="modal" data-target="#contactModal"><i class="far fa-paper-plane"></i> Nous contacter</a>
    </div>
    <div class="price_card bravo">
      <div class="header">
        <span class="price">$15</span>
        <span class="name">Bravo Pack</span>
      </div>
      <ul class="features">
        <li>Complete documentation</li>
        <li>Working materials in PSD, Sketch and EPS format</li>
        <li>6 months access to the library</li>
      </ul>
      <a class="btn btn-flat" data-toggle="modal" data-target="#contactModal"><i class="far fa-paper-plane"></i> Nous contacter</a>
    </div>
    <div class="price_card charlie">
      <div class="header">
        <span class="price">$25</span>
        <span class="name">Charlie Pack</span>
      </div>
      <ul class="features">
        <li>Complete documentation</li>
        <li>Working materials in PSD, Sketch and EPS format</li>
        <li>1 year access to the library</li>
        <li>2GB cloud storage</li>
      </ul>
      <a class="btn btn-flat" data-toggle="modal" data-target="#contactModal"><i class="far fa-paper-plane"></i> Nous contacter</a>
    </div>
  </div>
</div>
